Webpack (imports/exports)
	Babel (Что бы открывались в старых веряиях)
	Scss (препроцессор, что бы не писать на чистом CSS) +
	Eslint (чистота кода)
	2 Modes (2 редима сборки проекта)
		- Dev
			Dev Server (перезагружать окно браузера)+, SourceMaps (исходные карты)+, Eslint (поддержка чистоты кода, единый стиль), Not Minified JS & CSS 
		- Prod
			Minified Code
Git

	Production
		2.0.0
		0 ---------------
	Development
		2.0.2
		1 -----------------
		


